	body{
		background-image : url("background.jpg");
		background-repeat: repeat-y,x;
		
	}
	h1{
		color:red;
	}
	
	

 .image{
	 border-radius:50%;float:left;width:5%;
	 
	}
	.progress{
		width:250px;
		margin:left;
		border:3px solid #73AD21;
	}
	.progress-bar {
		color: red;
	}
	.skills{
		width:500px;
		position: relative;
		left:25px;
		bottom:200px;
	}
	.Languages{
		position:relative;
		left:500px;
		bottom:350px;
	}
	.about{
		width:500px;
		position:  relative;
		left:500px;
		bottom:160px;
	}
	.projects{
		position: relative;
		left:500px;
		bottom:650px;
	}
	